* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  color: black;
}

a :hover {
  color: #605046;
}

h2 {
  font-family: "Oranienbaum", serif;
  text-align: center;
  color: #605046;
  margin-bottom: 1.2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

h4 {
  font-family: "Oranienbaum", serif;
  font-size: 1.2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

main {
  margin: 0px auto;
  display: block;
}

.navbar-brand {
  font-family: "Oranienbaum", serif;
  font-size: 2.1rem;
  color: #605046;
  margin-top: -12px;
}

.navbar {
  justify-content: center;
}

nav a {
  text-align: center;
}

header {
  background-color: white;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 7vh;
  z-index: 20;
}

video {
  width: 100%;
  max-height: 100%;
}

.snappy_container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  /* min-height: 100vh; */
}

#splash {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#splash h1 {
  text-align: left;
  font-size: 5rem;
  font-family: "Oranienbaum", serif;
  z-index: 30;
  padding: 20px;
  marging: 15px;
}

#section1 {
  padding: 10px 10px;
  padding-bottom: 20px;
  max-width: 800px;
  margin: auto;
}

#section1 .tekst1 h2 {
  text-align: left;
}

#section1 .image1 {
  padding: 0px 50px;
}

#section2 {
  background-color: #d6cebd;
  padding: 30px 25px;
}

#section2 img {
  width: 100%;
  height: auto;
  animation-name: enter;
  animation-duration: 4s;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#section3 {
  padding: 30px 25px;
  max-width: 850px;
  margin: auto;
}

#section3 .tekst3 p {
  padding-bottom: 15px;
}

.billeder_grid img {
  border-radius: 50%;
  width: 70%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.billeder_grid p {
  text-align: center;
  font-size: 0.95rem;
}

#section4 {
  background-color: #605046;
  padding: 30px 25px;
}

#section4 .indhold4 {
  max-width: 800px;
  margin: auto;
}

#section4 p {
  color: #d6cebd;
}

#section4 img {
  width: 60px;
  height: auto;
}

#section4 .flueben {
  max-width: 300px;
  margin: auto;
}

.flueben_1 p {
  margin-left: -40px;
  padding-top: 10px;
}

.flueben_2 p {
  margin-left: -40px;
  padding-top: 15px;
}
.flueben_3 p {
  margin-left: -40px;
  padding-top: 16px;
}

.hak {
  width: 25px;
  height: auto;
}

.kryds_af {
  max-width: 550px;
  margin: auto;
}

.tekst4 h2 {
  color: #d6cebd;
}

.kryds_af {
  padding-top: 30px;
  padding-bottom: 20px;
}

.kryds_af p {
  color: #d6cebd;
}

#section5 {
  max-width: 850px;
  margin: auto;
}

#section5 .tekst5 {
  padding: 30px 25px 10px;
}

#section5 .moment_billeder {
  padding: 0px 50px;
  margin-bottom: 65px;
}

/* .img-hover-zoom {
  height: 300px;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
} */

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.137);
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}

#section6 {
  background-color: #605046;
  padding: 30px 25px;
}

#section6 p {
  padding-bottom: 20px;
}

.tekst6 {
  max-width: 800px;
  margin: auto;
}

.tekst6 h2 {
  color: #d6cebd;
}

.tekst6 p {
  color: #d6cebd;
}

.skirvop {
  justify-content: center;
  margin: auto;
  padding-bottom: 10px;
}

input {
  color: black;
  background-color: white;
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  margin-right: 10px;
}

button {
  color: black;
  background-color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

footer {
  background-color: #d6cebd;
  padding: 20px 25px;
}

.footer_indhold {
  max-width: 1000px;
  margin: auto;
}

.bi-instagram {
  margin-right: 10px;
}

.kontakt,
.insta_face {
  padding-bottom: 18px;
}

.om,
.handel,
.levering,
.partnere {
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  #section1 .image1 {
    padding: 0px;
  }

  #section2 img {
    width: 80%;
  }

  #section5 .moment_billeder {
    padding: 0px 15px;
  }

  .billeder_grid img {
    width: 100%;
  }

  #section4 .flueben {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }

  .navbar-brand {
    margin-top: -9px;
    font-size: 2.6rem;
  }

  header {
    height: 9vh;
  }

  #section2 img {
    width: 70%;
  }

  .flueben_1 p,
  .flueben_2 p,
  .flueben_3 p {
    margin-left: -70px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  p {
    font-size: 1.05rem;
  }

  #section1 {
    padding: 60px 0px;
  }

  #section1 h2 {
    padding-top: 20px;
  }

  #section2 img {
    width: 60%;
  }

  #section3 {
    padding: 50px 0px;
  }

  #section4 .indhold4 {
    padding: 40px 0px;
  }

  #section5 {
    padding: 50px 0px;
    padding-bottom: 10px;
  }
}
